body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #2ecc71, #3498db);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.payment-success-container {
    text-align: center;
}

img {
    width: 42%;
    height: 21%;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5rem;
    margin: 0;
}

.go-to-fine-portal-button {
    background-color: #34db34;
    color: #fff;
    padding: 15px 25px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
}

.go-to-fine-portal-button:hover {
    background-color: #2980b9;
}

.go-to-fine-portal-button:active {
    transform: scale(0.95);
}

/* Media Queries */

/* Small devices (phones, 600px and below) */
@media only screen and (max-width: 600px) {
    img {
        width: 70%; /* Reduce image width */
        height: 25%; /* Reduce image height */
    }

    h2 {
        font-size: 2rem;
    }

    .go-to-fine-portal-button {
        margin-top: 15px; /* Adjust button margin for better visibility */
    }
}

/* Medium devices (tablets, 768px and below) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    img {
        width: 60%; /* Reduce image width */
        height: 20%; /* Reduce image height */
    }

    h2 {
        font-size: 2.2rem;
    }

    .go-to-fine-portal-button {
        margin-top: 15px; /* Adjust button margin for better visibility */
    }
}

/* Large devices (desktops, 992px and below) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    img {
        width: 40%; /* Reduce image width */
        height: 12%; /* Reduce image height */
    }

    h2 {
        font-size: 2.3rem;
    }

    .go-to-fine-portal-button {
        margin-top: 15px; /* Adjust button margin for better visibility */
    }
}

/* Extra large devices (large desktops, 1200px and below) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    img {
        width: 35%; /* Reduce image width */
        height: 10%; /* Reduce image height */
    }

    h2 {
        font-size: 2.4rem;
    }

    .go-to-fine-portal-button {
        margin-top: 10px; /* Adjust button margin for better visibility */
    }
}